<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
	
	<!-- bootstrap v 3.3x link -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- google fonts link -->
    <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans+Condensed:300|Pacifico" rel="stylesheet">
    <!-- style.css link --> 
	<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
	<title>Eat-Da-Burger</title>
</head>

<body>
	{{{ body }}}
</body>

</html>